{% extends 'base.html'%}
{% load static %}
{% load bootstrap3 %}

{% block content %}
<section>
    <div class="container" style="margin-top:5rem;">
        <div class="row">
            <div class="col-md-6 mx-auto text-center">
                <h2>WELCOME TO the NEIGHBORHOOD!</h2>
                <h5> Welcome where you  will feel free to know your neighbors,the daily activities and even the news around your neighborhood by joining  Neighborhood</h5>
            </div>
        </div>
        <div class="row">
                {% for hood in neighbor %}
            <div class="col-md-4">
                    <div class="card" style="">
                            <img src="{{hood.hood_pic.url}}" class="card-img-top" alt="{{hood.name}}" class="img-thumnail">
                            <div class="card-body">
                                <h2 class="card-title text-center">{{hood.name}}</h2>
                                <h1 class="card-text text-center">{{hood.location}}</h1>
                                <a href="{% url 'hood' hood.id%}" class="btn btn-primary">Click see more</a>
                               
                            </div>
                        </div>
            </div>
            {% endfor%}
        </div>
    </div>
</section>
        
           
     
{% endblock %}